n8n-workflows/AI_Mental_Health_Chatbot.json
{
  "name": "AI Mental Health Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        280,
        -280
      ],
      "id": "bcc523a1-35da-4fad-8c65-edd84376973a",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        -100
      ],
      "id": "100378b4-97df-4a8b-a350-b7dd5cbb633c",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "uNs6DBu3TzuOOjBD",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If').item.json.chatInput }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        -100
      ],
      "id": "ba66adfb-c9c8-43d9-bd04-243a69e20c7a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi! Your an AI therapist, your job is to read the mood and sentiment by taking the prompt from the user and provide calming and soothing cooperative responses according to user input. \nThe user input is: {{ $json.chatInput }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        260,
        340
      ],
      "id": "129851a2-b00a-49e0-8611-5ffe0016f524",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        260,
        600
      ],
      "id": "d877d9ec-ed02-4812-96a9-448945ef047c",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "uNs6DBu3TzuOOjBD",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "path": "3ae99578-172e-45f3-91fa-16af191cd184",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        60
      ],
      "id": "abc5e729-135c-4c6b-90e2-56f6d0e0006b",
      "name": "Webhook",
      "webhookId": "3ae99578-172e-45f3-91fa-16af191cd184"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aff63218-2d2e-4fe4-96fc-bd92239a17ce",
              "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
              "rightValue": "suicidal",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "00cf8051-a428-42de-8614-55943e96d8e3",
              "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
              "rightValue": "=kill",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        60
      ],
      "id": "2927c36f-0945-4dac-b7eb-3c720c968f06",
      "name": "If"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is MindWell Buddy! What's on your mind. I'm all ears.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        60
      ],
      "id": "378931d8-6757-488e-83c5-ccfef21dbf77",
      "name": "When chat message received",
      "webhookId": "20c1496f-e823-461b-92d9-5b36057c0b8a"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚨 **MENTAL HEALTH ALERT: User at Risk** 🚨\n\nA message from a user has triggered our sentiment analysis system with potential signs of:\n> **Suicidal thoughts** or **self-harm risk**\n\n🧠 **Detected Message:**  \n\"{{ $('When chat message received').item.json.chatInput }}\"\"\n\n📡 This alert was automatically generated based on emotional cues, language patterns, or keywords related to self-harm or mental distress.\n\n🔔 **Please review immediately and consider initiating a safety check.**",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        360,
        120
      ],
      "id": "8810f1e7-aa0e-4aca-bffd-bbd2b363798e",
      "name": "Discord",
      "webhookId": "6e2894cb-1473-401b-9906-ee61a33b808b",
      "credentials": {
        "discordWebhookApi": {
          "id": "v9PQaqbP76pQPfZb",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        780,
        40
      ],
      "id": "3cb51405-6769-4982-aa0e-006e96baa931",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b720b9bf-603c-4bad-a5d6-43afc428b75b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd701982377c7d59803bba449380c8432156d06e6143c6b0aadabb1719c92d34"
  },
  "id": "razekaKDvZpcV9JF",
  "tags": []
}