n8n-workflows/Telegram AI Agentic Reply Bot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "2133560283",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b312b7f0-40db-4e87-b875-81422fb313d9",
      "name": "Send Suggestion1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2880,
        1160
      ],
      "webhookId": "f4894aee-4446-4d43-bf31-d7a393df0b20",
      "credentials": {
        "telegramApi": {
          "id": "LEoQgy9ai5bJfuzM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2420,
        1360
      ],
      "id": "4930ec51-2cbf-484b-9a34-1c20df7313c6",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "uNs6DBu3TzuOOjBD",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2260,
        1160
      ],
      "id": "80829523-05eb-456a-858e-8e75563a2f5a",
      "name": "Telegram Trigger",
      "webhookId": "29f9a2ee-6ff0-40da-846d-f7bb4238de87",
      "credentials": {
        "telegramApi": {
          "id": "LEoQgy9ai5bJfuzM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2620,
        1380
      ],
      "id": "4aa7b5a0-dc90-4b90-9ded-597fcbd7ee4c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a sentiment analyser. Send suggestions according to the response of user and a inform the user to login to the app and share their feelings, troubles, experiences or happy moments to their AI buddy.\n\nThe user input is: {{ $json.message.text }}\n\nDont mention the sentiment in message, talk like a normal human.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2520,
        1160
      ],
      "id": "31a5f8fe-7ac6-4c41-8ed6-2c76118895c0",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Suggestion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a78b213-9806-4518-a510-3cfc32f9aa3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd701982377c7d59803bba449380c8432156d06e6143c6b0aadabb1719c92d34"
  },
  "id": "RRiG8EU08lOmvx9p",
  "tags": []
}